<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo</title>
  lin
</head>

<body>
  <div class="container">
    <div class="search-area">
      <input type="text">
      <button></button>
    </div>
    <div class="tasks">
      <div class="task">
        <input type="checkbox" />
        <div>
          <p>Task1></p>
          <p>12/10/1993</p>
        </div>
        <div>
          <p>edit</p>
          <p>delete</p>
        </div>

      </div>
    </div>
  </div>
</body>

</html>